.container {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    font-family: "Century Gothic";
    transform: translateY(-50%);
}
.container h1 {
    font-size: 125px;
    margin: 0;
    font-weight: 1000;
    letter-spacing: 32px;
    color: #1d1210;    
}
body {
    background: rgb(186,63,251);
    background: linear-gradient(90deg, rgba(186,63,251,1) 31%, rgba(70,98,252,1) 68%);
}
.container a {
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 13;
    background: #93401b;
    text-transform: uppercase;
    font-weight: 250;
    text-decoration: none;
    color: #ffffff;    
}

.container a:hover {
    background: rosybrown;
}