.footer {
padding-bottom: 0;
position: relative;
width: 100%;
height: 20px;
color: black;
text-align: center;
}

.row {
    height: 20px;
}

.contact {
    text-align: right;
}

.icons{
    
    text-align: center;
}

.copyright{
    font-weight: bold;
    font-style: italic;
}

