header {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	font-size: 16px;
	line-height: 23px;
	position: fixed;
	z-index: 1;
	background: white;
	padding: 10px;
	box-shadow: 0 0 1px 2px rgba(0,0,0,0.1)
}
header div#logo {
	flex-grow: 1
}
header nav {
	flex-grow: 2
}
#loginarea {
	float: right
}
#loginarea form input {
	padding: 5px;
	border: 1px solid #28a745;
	border-radius: 3px;
	margin-left: 10px;
	outline: none
}
.button {
	background: #28a745;
	color: white;
	padding: 5px 10px;
	border: 0;
	margin: 0 10px;
	height: 35px;
	border-radius: 3px;
	transition: all 150ms
}
.button:hover {
	background-color: tomato;
	color: white;
	text-decoration: none;
	transition: all 150ms
}

header nav a i {
	margin-right: 5px
}
main {
	padding: 120px 0;
}
footer {
	width: 100%;
	font-size: 16px;
	line-height: 23px;
	background: white;
	padding: 10px;
	position: static;
	box-shadow: 0 0 1px 2px rgba(0,0,0,0.1)
}
#social-icons {
	padding: 50px 0;
}
#contact-info {
	margin: 10px;
	display: block;
}
#copyright {
	text-align: center;
	padding: 20px;
	border-top: 1px solid rgba(0,0,0,0.1);
	
}
.logout {
	float: right;
}
.logout i {
	margin-right: 5px
}

.heading-h1 {
	margin: 20px;
	text-align: center;
}
.loadup-form {
	display: block;
	text-align: center;
	width: 100%;
}
.loadup-form div label{
	width: 10%;
	text-align: left;
	color: #28a745;
}
.loadup-form div input,
.loadup-form div select{
	width: 20%;
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.1);
}
.loadup-form div {
	margin: 10px;
}
.loadup-button {
	width: 30%;
}
/*@import url('https://fonts.googleapis.com/css?family=Coiny&display=swap');
* {
    font-family: 'Coiny'
}


.center-placeholder input {
    text-align: center
}

#home-input-categorys {
    padding-right: 10px;
    border-right: 1px solid black
}

.form-container {
    border: 1px solid #4e0e0f;
    padding: 50px 60px;
    margin-top: 6vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    background-color: #28a745
}

.tx {
    color: #e4feff
}

.footer {
    padding-bottom: 0;
    position: relative;
    width: 100%;
    height: 20px;
    color: black;
    text-align: center
}

.row {
    height: 20px
}

.contact {
    text-align: right
}

.icons {
    text-align: center
}

.copyright {
    font-weight: bold;
    font-style: italic
}

.err-container {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    font-family: "Century Gothic";
    transform: translateY(-50%);
    background: rgb(186, 63, 251);
    background: linear-gradient(90deg, rgba(186, 63, 251, 1) 31%, rgba(70, 98, 252, 1) 68%)
}

.err-container h1 {
    font-size: 125px;
    margin: 0;
    font-weight: 1000;
    letter-spacing: 32px;
    color: #1d1210
}

.err-container a {
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 13;
    background: #93401b;
    text-transform: uppercase;
    font-weight: 250;
    text-decoration: none;
    color: #ffffff
}

.err-container a:hover {
    background: rosybrown
}*/